body    {background-color:#efeee7;
        font-family: Georgia,"Times New Roman",Times,serif;
        color: #333333;
        margin: 0;
        padding: 0;
        font-size: 18px;
        line-height: 150%;
        }

header  {background-color: #333333;
        }

h1      {
        padding: 20px 0;
        color: #eee;
        font-size: 28px;
        margin: 0;
        margin-bottom: 20px;
        text-align: center;
        }

h2      {font-size: 24px;}
        
#main-bio, 
#bio-image, 
#contact-info
        {float: left;

        }

#bio-image
        {
        width: 200px;
        height: 200px;
        margin-right: 20px;
        }

#main-bio
        {
        width: 70%;
        }

#contact-info
        {
        width: 30%;
        }

.container  {
    margin: 0 auto;
    width: 1024px;
    }

a   {
    color:red;
}